<footer>
  <p>&copy; 2025 Brandon Himpfen. All rights reserved.</p>
  <p>
    <a href="https://www.himpfen.com/about/" class="text-white mx-2">About</a>
    <a href="https://www.himpfen.com/copyright/" class="text-white mx-2">Copyright Notice</a>   
    <a href="https://www.himpfen.com/disclosure-disclaimer/" class="text-white mx-2">Disclosure/Disclaimer</a>   
    <a href="https://www.himpfen.com/privacy/" class="text-white mx-2">Privacy Policy</a>    
    <a href="https://www.himpfen.com/terms/" class="text-white mx-2">Terms</a>
  </p>
</footer>
