<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-md">
    <a class="navbar-brand" href="#">Brandon Himpfen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Tools</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Converters
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cat/">Cat Age Converter</a></li>
            <li><a class="dropdown-item" href="/dog/">Dog Age Converter</a></li>
            <li><a class="dropdown-item" href="/hex-rgb/">Hex-RGB Converter</a></li>
            <li><a class="dropdown-item" href="/temperature/">Temperature Converter</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Generators
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/html-ipsum/">HTML Ipsum Generator</a></li>
            <li><a class="dropdown-item" href="/password/">Secure Password Generator</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog-membership-arr/">Blog ARR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reaction-time/">Reaction Timer</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Travel
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/packing/">Packing Tool</a></li>
            <li><a class="dropdown-item" href="/time-zone/">Time Zone Converter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
